extends ../layout.pug

block content
  // Desktop
  .hide-on-mobile
    .row.mt-30
      .col-1-2
        img(src=user.image)
      .col-1-2
        .row
          .col
            h1 #{user.name}
            h5.mt-0 #{user.handle} - #{__('member since')} #{user.memberSince}
        .row
          .col
            p= user.description
        .row.mt-15
          .col
            span
              i.fa.fa-gift
              span.ml-1 #{user.productTotal} #{__('products')}
              a.link-blue.ml-1(href='javascript:void' v-if='user.token && user.handle === ' + '\'' + user.handle + '\'')= __('add')
        .row
          .col
            span
              i.fa.fa-comment
              span.ml-1 #{user.postTotal} #{__('posts')}
    .row
      .col
        h1 Atividade recente
        post-list(class='', name=user.name)
    .row
      .col
        h1 Produtos
        product-grid(class='', :per-row='3', :user-id=user.id)
  // Mobile
  .show-on-mobile
    .row.mt-30.flex-center
      img(src=user.image style='max-height: 300px;')
    .row
      .col
        h1 #{user.name}
        h5.mt-0 #{user.handle} - #{__('member since')} #{user.memberSince}
    .row
      .col
        p= user.description
    .row.mt-15
        .col.col-1-2.text-center
          span
            i.fa.fa-gift
            span.ml-1 #{user.productTotal} #{__('products')}
            a.link-blue.ml-1(href='javascript:void' v-if='user.token && user.handle === ' + '\'' + user.handle + '\'')= __('add')
        .col.col-1-2.text-center
          span
            i.fa.fa-comment
            span.ml-1 #{user.postTotal} #{__('posts')}
    .row.mt-30
      .col
        h1 Atividade recente
        post-list(class='', name=user.name)
    .row
      .col
        h1 Produtos
        product-grid(class='', :per-row='2', :user-id=user.id)
